/* Add application styles & imports to this file! */

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.app .bs-datepicker-body table td:not(.week) {
  pointer-events: none;
}
